/* Global Styles */
body {
    color: #54494B;
    background-color: #F1F7ED;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 300px;
}

a {
    color: #6e6063;
}

a:hover {
    text-decoration:none;
}

/* Profile */
header {
    background-color: #91C7B1;
}

/* Projects */
.projects {
    background-color: #E3D081;
}

.projects a {
    text-decoration: none;
    color: rgb(250, 241, 241);
    background-color: #B33951;
    border-radius: 2px;
    padding: 4px;
}

.projects a:hover {
    padding: 4.2px;
    background-color: #9c3248;
}
/* Work Experience */
.work {
    background-color: #EEE2B1;
}
/* Education */

/* Contact */
footer {
    background-color: #B33951;
    color: #F1F7ED;
}

footer a {
    color: #F1F7ED;
}